body {
  background-color: #f1f2f1;
  color: #260a08;
}

#dish {
  margin-bottom: 12px;
}

#user-input-header {
  padding: 10px;
}

#dish,
#ingredients,
#recipe-steps {
  background-color: #cac6a0;
  height: auto;
  padding: 10px;
}

#ingredients .ingredient span {
  display: inline;
  text-transform: capitalize;
}

#ingredients .ingredient p {
  display: inline;
  font-size: 0.95rem;
}

img#banner {
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
